li{
    list-style: none;
    border: 1px black solid;
    padding: 10px;
    margin: 5px;
    width: 100%;
    background-color: whitesmoke;
    font-size: medium;
}

.selected{
    background-color: rgba(248, 227, 188, 0.842);
}